# Turn Rewrite Engine On
RewriteEngine on

# Rewrite for contact.php
RewriteRule ^contact$  contact.php
RewriteRule ^home$   home.php 
RewriteRule ^shop$   shop.php 
RewriteRule ^about$   about.php 
RewriteRule ^comments$   comments.php 
RewriteRule ^login$   login.php 
RewriteRule ^index$   index.php 
RewriteRule ^logout$   logout.php 
RewriteRule ^courses$    courses.php
RewriteRule ^playlist$   playlist.php 
RewriteRule ^profile$   profile.php
RewriteRule ^register$   register.php
RewriteRule ^searchtutor$   searchtutor.php
RewriteRule ^searchcourse$   admin_products.php
RewriteRule ^subscribe$  subscribe.php
RewriteRule ^teachers$   teachers.php
RewriteRule ^tutorprofile$   tutor_profile.php
RewriteRule ^update$   update.php
RewriteRule ^watch_video$   watch_video.php
RewriteRule ^user_logout$   user_logout.php
RewriteRule ^comments$   comments.php
RewriteRule ^contents$   contents.php
RewriteRule ^playlists$   playlists.php
RewriteRule ^dashboard$   dashboard.php
RewriteRule ^admin_logout$   admin_logout.php
RewriteRule ^subscribers$   subscribers.php
RewriteRule ^add_content$   add_content.php
RewriteRule ^add_contents$   add_contents.php
RewriteRule ^view_content$   view_content.php
RewriteRule ^update_content$  update_content.php
RewriteRule ^update_playlist$  update_playlist.php
RewriteRule ^view_playlist$  view_playlist.php
RewriteRule ^likes$  likes.php
RewriteRule ^add_playlist$  add_playlist.php
RewriteRule ^likes$  likes.php
RewriteRule ^addNews$  news.php
RewriteRule ^guidian$  guidian.php